.container {
  display: flex;
  flex-direction: column;
  text-align: center;

  img {
    max-width: 250px;
    align-self: center;
    background-color: var(--project-card-bg);
    border-radius: 20px;
    border: #888 1px solid;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: fit-content;
    text-decoration: none;
    color: #222;
    transition: transform 200ms ease-in-out;
  }

  a:hover {
    transform: scale(1.05);
  }
}

[data-theme="dark"] {
  .container {
    .img {
      border: none;
    }
  }
  
}

.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

@media(width >= 500px) {
  .projectContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media(width >= 800px) {
  .projectContainer {
    row-gap: 50px;
  }
}