.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
}

textarea, input:not([type='submit']) {
    height: 50px;
    width: 280px;
    padding-left: 15px;
    padding-right: 10px;
    font-size: 18px;
}

input[type='submit'] {
    width: 125px;
    height: 50px;
}

textarea {
    padding: 15px 16px;
    resize: none;
    height: 250px;
}

input, textarea{
    border: #888 1px solid;
    border-radius: 20px;
    box-sizing: border-box;
    justify-self: center;
    background-color: var(--background-color);
    color: var(--form-text-color);
    font-family: "Roboto Mono", "monospace";
}

::placeholder{
    color: var(--form-text-color);
}


.contactInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    max-width: 260px;
    height: 70px;
    margin-left: 10px;
    flex-direction: column;
    background-color: #222;
    transform: skew(-10deg);
    margin-bottom: 30px;
}

.contactInfo span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.contactInfo span p {
    font-size: 16px;
}

.contactInfo .phone img, .contactInfo .email img {
    width: 22px;
    height: 22px;
}

.contactInfo .emaiInfo a, .contactInfo p {
    color: #fff;
    text-align: center;
    font-weight: 800;
}

[data-theme="dark"]{
    .contactInfo .emaiInfo a, .contactInfo p {
        color: #222;
    }

    .contactInfo {
        background-color: #fff;
    }

}


@media(width >= 450px) {
    textarea, input:not([type='submit']) {
        width: 400px;
    }  

    .contactInfo {
        max-width: 350px;
        margin-left: 25px;
        transform: skew(-20deg);
    }

    .contactInfo span p {
        font-size: 18px;
    }
}

@media(width >= 600px) {
    textarea, input:not([type='submit']) {
        width: 450px;
        font-size: 18px;
    }  
    
}

@media(width >= 800px) {
    textarea, input:not([type='submit']) {
        width: 600px;
        font-size: 20px;
    }

    input:not([type='submit']) {
        height: 60px;
    }

    form {
        gap: 40px;
    }

    .contactInfo {
        max-width: 520px;
        gap: 10px;
        height: 50px;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media(width >= 1400px) {
    textarea, input:not([type='submit']) {
        width: 800px;
    }
}

