.container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
}

textarea, input:not([type='submit']) {
    height: 50px;
    width: 280px;
    padding-left: 15px;
    padding-right: 10px;
    font-size: 18px;
}

input[type='submit'] {
    width: 125px;
    height: 50px;
}

textarea {
    padding: 15px 16px;
    resize: none;
    height: 250px;
}

input, textarea{
    border: #888 1px solid;
    border-radius: 20px;
    box-sizing: border-box;
    justify-self: center;
    background-color: var(--background-color);
    color: var(--form-text-color);
    font-family: "Roboto Mono", "monospace";
}

::placeholder{
    color: var(--form-text-color);
}

@media(width >= 450px) {
    textarea, input:not([type='submit']) {
        width: 400px;
    }  
}

@media(width >= 600px) {
    textarea, input:not([type='submit']) {
        width: 450px;
        font-size: 18px;
    }  
}

@media(width >= 800px) {
    textarea, input:not([type='submit']) {
        width: 600px;
        font-size: 20px;
    }

    input:not([type='submit']) {
        height: 60px;
    }

    form {
        gap: 40px;
    }
}

@media(width >= 1400px) {
    textarea, input:not([type='submit']) {
        width: 800px;
    }
}
